<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>3C360BF4-D512-42F4-8218-FAF4C0A16453</string>
	<key>title</key>
	<string>frame 2015-2022(ES6-13)</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
